/**
 * Custom styles.
 */
/**
 * Setup variables, etc.
 */
/* line 17, ../../../../../../lib/gems/1.9.1/gems/susy-2.2.12/sass/susy/language/susy/_box-sizing.scss */
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 18, ../../../../../../lib/gems/1.9.1/gems/susy-2.2.12/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  box-sizing: inherit;
}
/* line 8, ../sass/pw_layout.scss */
.layout--packweb .l-inner {
  overflow: hidden;
  *zoom: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 500px) {
  /* line 17, ../sass/pw_layout.scss */
  .layout--packweb.sidebar-left.sidebar-right .l-sidebar-left {
    width: 47.36842%;
    float: left;
    margin-right: 5.26316%;
  }
  /* line 21, ../sass/pw_layout.scss */
  .layout--packweb.sidebar-left.sidebar-right .l-sidebar-right {
    width: 47.36842%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 950px) {
  /* line 35, ../sass/pw_layout.scss */
  .layout--packweb.sidebar-left .l-sidebar-left {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 39, ../sass/pw_layout.scss */
  .layout--packweb.sidebar-left .l-content {
    width: 74.57627%;
    float: right;
    margin-right: 0;
  }
  /* line 45, ../sass/pw_layout.scss */
  .layout--packweb.sidebar-right .l-sidebar-right {
    width: 23.72881%;
    float: right;
    margin-right: 0;
  }
  /* line 49, ../sass/pw_layout.scss */
  .layout--packweb.sidebar-right .l-content {
    width: 74.57627%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 57, ../sass/pw_layout.scss */
  .layout--packweb.sidebar-left.sidebar-right .l-sidebar-left {
    width: 23.72881%;
    float: left;
    margin-right: 1.69492%;
  }
  /* line 61, ../sass/pw_layout.scss */
  .layout--packweb.sidebar-left.sidebar-right .l-sidebar-right {
    width: 23.72881%;
    float: right;
    margin-right: 0;
  }
  /* line 65, ../sass/pw_layout.scss */
  .layout--packweb.sidebar-left.sidebar-right .l-content {
    width: 49.15254%;
    float: left;
    margin-left: 25.42373%;
    margin-right: -100%;
  }
}
/* line 76, ../sass/pw_layout.scss */
#layout-content-form .layout--packweb .l-inner {
  max-width: none;
}
