/**
 * Custom styles.
 */

@import "mixins";

.layout--pw-layout {
  .l-main.has-sidebar {

    @include min(500px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .l-content {
        flex: 100%;
      }

      .l-sidebar-left,
      .l-sidebar-right {
        flex: 0 0 250px;
      }
    }

    @include min(800px) {
      .l-content {
        flex: 300px;
      }

      .l-sidebar-left {
        order: -1;
      }
    }

  }
}

/*** Admin page ***/
@include min(500px) {
  #layout-content-form {
    .layout--pw-layout {

      .l-sidebar-left {
        .l-inner {
          margin-right: 10px;
        }
      }

      .l-sidebar-right {
        .l-inner {
          margin-left: 10px;
        }
      }

    }
  }
}

