/**
 * Custom styles.
 */

@import "mixins";

.layout--pw-layout {
  display: grid;
  // 1200px max-width page with fixed-width sidebars and 15px margins.
  grid-template-columns: minmax(15px, 1fr) 250px repeat(2, minmax(0, 350px)) 250px minmax(15px, 1fr);

  // All regions.
  & > * {
    // Span all inner columns.
    // (Starts from +/-2 due to extra outside columns for max-width page).
    grid-column: 2 / -2;
  }

  .l-sidebar-left {
    grid-column-end: 3;
    grid-row-start: 4;
  }

  .l-sidebar-right {
    grid-column-start: -3;
    grid-row-start: 4;
  }

  // Both sidebars.
  &.sidebar-both {
    .l-content {
      grid-column: 3 / -3;
    }

    @include max(1000px) {
      .l-content {
        grid-column: 2 / -2;
      }

      .l-sidebar-left {
        grid-column-end: 4;
        grid-row-start: 5;
      }

      .l-sidebar-right {
        grid-column-start: -4;
        grid-row-start: 5;
      }
    }

    @include max(500px) {
      .l-sidebar-left {
        grid-column-end: -2;
      }

      .l-sidebar-right {
        grid-column-start: 2;
        grid-row-start: 6;
      }
    }
  }

  // Left sidebar.
  &.sidebar-left {
    .l-content {
      grid-column-start: 3;
    }

    @include max(750px) {
      .l-content {
        grid-column-start: 2;
      }

      .l-sidebar-left {
        grid-column-end: -2;
        grid-row-start: 5;
      }
    }
  }

  // Right sidebar.
  &.sidebar-right {
    .l-content {
      grid-column-end: -3;
    }

    @include max(750px) {
      .l-content {
        grid-column-end: -2;
      }

      .l-sidebar-right {
        grid-column-start: 2;
        grid-row-start: 5;
      }
    }
  }

  @include max(530px) {
    // Allow grid to shrink below 530px.
    grid-template-columns: minmax(10px, 1fr) repeat(4, minmax(0, 300px)) minmax(10px, 1fr);
  }
}

/*** Admin page ***/
#layout-content-form {
  .layout--pw-layout {
    .skip-link {
      display: none;
    }
  }
}

