/**
 * Custom styles.
 */

@import "mixins";

.layout--pw-layout {

  @include min(500px) {
    .l-main.has-sidebar {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .l-content {
        flex: 100%;
      }

      .l-sidebar-left,
      .l-sidebar-right {
        flex: 0 0 250px;
      }
    }
  }

  @include min(800px) {
    .l-main.has-sidebar {
      .l-content {
        flex: 300px;
      }

      .l-sidebar-left {
        order: -1;
      }
    }
  }

}

